{% extends "index/header.html" %}
{% block content %}
<style type="text/css">
	#one {
		float : left;
		margin-left: 70px;
		margin-right: 70px;
		
		background-color: transparent;
		height:100px;
		width: 350px;
	}
</style>
<br>
<br>
<br>
<br>
<h1 align ="center" style="color:orange;">Choose Your Compiler Below!</h1>
<hr>
<br>
<br>
<br>
<br>
<div id="one">
<a href="/compiler/app"><h3 class = "text-success"><em>Go To C/C++/Python3/Java Compilers!!!</em></h3></a>
</div>
<div id="one">
<a href="/editor/editor"><h3 class = "text-success"><em>Go To HTML/CSS/JavaScript Compilers!!!</em></h3></a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}